
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    max-height: 100rem;
    max-width: 100rem;
}
.phone{
    display: flex;
    flex-direction: column;
    height: 40rem;
    width: 40rem;
    background-color: black;
}
.row{
    display: flex;
    flex-direction: row;
}
