
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}
.phone{
    background-color: rgb(131, 131, 131);
    padding: 1em;
    width: max-content;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    background-color: white;
    gap: 2rem;
    padding: .8rem;
    width: max-content;
}
.app{
    height: 11vmin;
    width: 11vmin;
    background-color: blue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: 0.3s;
}
.app:hover {opacity:1}
.app1{
    height: 11vmin;
    width: 11vmin;
    background-color: rgb(142, 142, 188);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: 0.3s;
}
.app1:hover {opacity:1}
.app2{
    height: 11vmin;
    width: 11vmin;
    background-color: rgb(118, 137, 138);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: 0.3s;
}
.app2:hover {opacity:1}
.app3{
    height: 11vmin;
    width: 11vmin;
    background-color: rgb(159, 147, 176);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: 0.3s;
}
.app3:hover {opacity:1}
.app4{
    height: 11vmin;
    width: 11vmin;
    background-color: rgb(171, 191, 209);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: 0.3s;
}
.app4:hover {opacity:1}
.app5{
    height: 11vmin;
    width: 11vmin;
    background-color: rgb(156, 191, 179);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: 0.3s;
}
.app5:hover {opacity:1}
.app6{
    height: 11vmin;
    width: 11vmin;
    background-color: rgb(186, 173, 160);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: 0.3s;
}
.app6:hover {opacity:1}
.app7{
    height: 11vmin;
    width: 11vmin;
    background-color: rgb(158, 158, 183);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: 0.3s;
}
.app7:hover {opacity:1}
.app8{
    height: 11vmin;
    width: 11vmin;
    background-color: rgb(169, 172, 146);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: 0.3s;
}
.app8:hover {opacity:1}
.app9{
    height: 11vmin;
    width: 11vmin;
    background: rgb(240,206,222);
    background: linear-gradient(90deg, rgba(240,206,222,1) 0%, rgba(245,182,198,1) 48%, rgba(140,114,136,1) 100%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: 0.3s;
}
.app9:hover {opacity:1}
.app10{
    height: 11vmin;
    width: 11vmin;
    background: rgb(206,227,240);
    background: linear-gradient(90deg, rgba(206,227,240,1) 0%, rgba(182,218,245,1) 48%, rgba(148,190,236,1) 100%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: 0.3s;
}
.app10:hover {opacity:1}
.app11{
    height: 11vmin;
    width: 11vmin;
    background: rgb(206,240,207);
    background: linear-gradient(273deg, rgba(206,240,207,1) 0%, rgba(190,245,182,1) 48%, rgba(148,236,158,1) 100%); 
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: 0.3s;
}
.app11:hover {opacity:1}