body{
    font-family: 'Hind', sans-serif;
    font-size: 16px;
}
center{
    font-size: 40px;
}
header{
    font-family: 'Shadows Into Light Two', cursive;
    margin-top: 4rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    font-size: 30px;
}
