body{
    font-family: 'Hind', sans-serif;
    font-size: 16px;
}
center{
    font-size: 40px;
}
header{
    font-family: 'Shadows Into Light Two', cursive;
    margin-top: 4rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    font-size: 30px;
}
.coloseum{
    width: 400px;
    padding: 5px;
    margin-left: 40rem;
    position: absolute;
}
.italianyum{
    width: 400px;
    padding: 5px;
    margin-top: 5rem;
    margin-left: 40rem;
    position: absolute;
}
.trevi{
    height:400px;
    width: 300px;
    padding: 5px;
    margin-left: 50rem;
    margin-top: 5rem;
    position: absolute;
}
.italianbeach{
    width: 300px;
    height: 500px;
    padding: 5px;
    margin-top: 7rem;
    margin-left: 40rem;
    position: absolute;
}
h1{
    font-size: 40px;
}
.swings{
    width: 300px;
    padding: 5px;
    margin-left: 40rem;
    position: absolute;
}
.og{
    width: 400px;
    padding: 5px;
    margin-left: 60rem;
    position: absolute;
}
.gfs{
    width: 300px;
    padding: 5px;
    margin-top: 5rem;
    margin-left: 40rem;
    position: absolute;
}
