body {
    background-image: url("https://web.archive.org/web/20091026163859/http://geocities.com/TelevisionCity/Satellite/4745/fondo_negro.gif");
    background-color: #fffdfd;
   }

header{
    margin-left: 20rem;
    margin-bottom: 5rem;
    font-size: 20px;
    background-color: white;
    width: 25rem;
}

p{
    width: 500px;
    border: 15px solid rgb(232, 161, 253);
    padding: 5px;
    margin: 20px;
}

.teagif{
    margin-left: 60rem;
    margin-top: 0rem;
    position: fixed;

}
.smaller-image{
    width:500px
}

.sie{
    width:300px
}
