header{
    margin-left: 20rem;
    margin-top: 1rem;
    font-size: 20px;
}

p{
    width: 500px;
    border: 15px solid rgb(232, 161, 253);
    padding: 5px;
    margin: 20px;
}

.kategif {
 position: absolute;
 left: 45rem;
 top: 0px;
}

.smaller-image{
    width:500px
}

.sie{
    width:300px
}
